.optionsGrid {
   justify-content: center;
   margin: 0px 10vw 20px;
}

.completeKey {
   background-color: lightgray;
}

.letterOption {
   margin-top: 20px;
}

.letterOptionBox {
   background-color: white;
   width: 100px;
   align-self: center;

   & .MuiInputBase-input {
      border: 1px solid black;
      padding: 5px 0px 5px 26px;
   }
}

.textAfterImage {
   margin-top: 1rem;
}

.playfairImage {
   width: 100%;
}

.playfairRules {
   width: 90%;
}

.playfairGrid {
   width: auto;
   padding-right: 6vw;
}

.grid {
   border: 1px solid black;
   place-self: center;
   background-color: white;
}

.gridLetter {
   padding: 5px;
   text-align: center;
   width: 30px;
   height: 20px;
   aspect-ratio: 1;
   font-family: var(--body-font);
}

@media screen and (max-width: 800px) {
   .playfairKey {
      place-self: center;
      width: 250px;
   }

   .playfairGrid {
      margin: 5vw 0vw;
      padding-right: 0vw;
   }
}

@media screen and (max-width: 600px) {
   .optionsGrid {
      margin: 0vw 5vw;
   }

   .letterOption {
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
   }

   .gridLetter {
      padding: 6px;
      font-size: 18px;
   }
}

body.dark {
   .letterOptionBox {
      background-color: var(--dark-mode-secondary);
      color: var(--dark-mode-white);

      & .MuiInputBase-input {
         padding: 5px 32px 5px 26px;
      }
   }

   .completeKey {
      background-color: darkgray;
      color: black;
   }

   .completeKey::placeholder {
      color: black;
   }

   .playfairImage, .playfairRules {
      filter: brightness(.7);
   }

   .grid {
      border: 1px solid var(--dark-mode-white);
      background-color: var(--dark-mode-primary);
   }
}