.tableDiv {
    overflow-x: auto;
    margin: 25px 8vw;
}

.alphabetTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

.alphabetTable th,
.alphabetTable td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

.alphabetTable th {
    background-color: lightgreen;
}

.smallInput {
    width: 23px;
    text-align: center;
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

th {
    padding-right: 10px;
    font-family: var(--body-font);
    font-weight: var(--font-weight-bold);
}

td {
    font-family:'Courier New', Courier, monospace;
}

@media screen and (max-width: 1060px) {
    .alphabetTable {
        width: auto;
    }

    .smallInput {
        width: 30px;
        height: 35px;
        margin: 2px;
    }
}

body.dark {
    .alphabetTable th {
        background-color: #187D30;
    }

    .alphabetTable td {
        border: 1px solid var(--dark-mode-secondary);
    }
}