.tableDiv {
    overflow-x: auto;
    width: 80%;
    justify-self: center;
    margin: 25px 0px;
}

.keyBox {
    margin: 0px 20px;
}

.alphabetTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

.alphabetTable th,
.alphabetTable td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

.alphabetTable th {
    background-color: lightgreen;
}

.smallInput {
    width: 23px;
    text-align: center;
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

.button {
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    text-transform: none;
    margin: 10px;
    margin-top: 10px;
}

.helperButton {
    margin-top: 30px;
}

ol, ul, li {
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

th {
    padding-right: 20px;
}

td {
    font-family:'Courier New', Courier, monospace;
}

@media screen and (max-width: 1060px) {
    .alphabetTable {
        width: auto;
    }

    .smallInput {
        width: 30px;
        height: 35px;
        margin: 2px;
    }
}

@media screen and (max-width: 700px) {
    .keyBox {
        margin-bottom: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    .alphabetTable th {
        background-color: #187D30;
    }

    .alphabetTable td {
        border: 1px solid var(--dark-mode-secondary);
    }
}