.keyBox {
    margin: 0px 10px;
}

.vigenereSquare {
    width: 40%;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

.vigenereSquareText {
    float: right;
    margin-left: 50px;
    margin-bottom: 20px;
    clear: right;
}

@media screen and (max-width: 800px) {
    .keyBox {
        width: 200px;
    }

    .vigenereSquare {
        width: 100%;
    }

    .vigenereSquareText {
        float: inherit;
        margin: 0px;
        text-align: center;
    }

    .vigenereSquare {
        width: 100%;
    }

    .vigenereSquareText {
        float: inherit;
        margin: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .keyBox {
        width: 260px;
        margin-bottom: 20px !important;
    }
}

@media (prefers-color-scheme: dark) {
    .vigenereSquare {
        opacity: 0.8;
    }
}