.vigenereSquare {
    width: 40%;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

.vigenereSquareText {
    float: right;
    margin-left: 50px;
    margin-bottom: 20px;
    clear: right;
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 800px) {
    .vigenereSquare {
        width: 100%;
    }

    .vigenereSquareText {
        float: inherit;
        margin: 0px;
        text-align: center;
    }

    .vigenereSquare {
        width: 100%;
    }

    .vigenereSquareText {
        float: inherit;
        margin: 0px;
        text-align: center;
    }
}

body.dark {
    .vigenereSquare {
        filter: brightness(.7);
    }
}