.separatorBox {
   width: 50px;
   margin-right: 0px;
}

.checkBox {
   margin-left: 10px;
   height: 18px;
   width: 18px;
   vertical-align: text-bottom;
   accent-color: #4F4CAF;
}

.checkBox:hover {
   cursor: pointer;
}

.azTable {
   justify-self: center;
}

.azTable td {
   text-align: center;
   width: 25px;
   border-width: 1px;
   background-color: snow;
}

@media screen and (max-width: 800px) {
   .azTable {
      justify-self: flex-start;
   }
   .keyBox {
      margin-right: 0px;
   }
}

body.dark {
   .azTable td {
      color: var(--dark-mode-white);
      background-color: var(--dark-mode-primary);
      border: 2px solid var(--dark-mode-secondary);
      font-weight: 600;
   }
}