#root {
  margin: 50px auto 0px;
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

.header {
  background-color: burlywood;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.footer {
  background-color: burlywood;
  margin: auto -2rem 0rem -2rem;
  padding: 1rem;
}  

.headerFooterText {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition: all 0.3s ease;
}

.headerFooterText.active {
  background-color: blanchedalmond;
  font-weight: bold;
}

.headerFooterText:hover {
  background-color: blanchedalmond;
}

.textBox {
  width: 90%;
  max-width: 100%;
  height: 15vh;
  margin: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
}

.learningButton {
  font-family: var(--header-font);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  text-transform: none;
  margin: 10px;
}

.cipherInfo {
  width: 95%;
  text-align: initial;
  display: inline-block;
  padding: 0rem 1rem 2rem;
}

a {
  font-weight: bold;
  color: darkblue;
}

a:hover {
  color: slateblue;
}

.headerFont {
  font-family: var(--header-font);
  font-weight: 400;
  font-style: normal;
}

.headerFontMedium {
  font-family: var(--header-font);
  font-weight: 500;
  font-style: normal;
}

.headerFontItalic {
  font-family: var(--header-font);
  font-weight: 400;
  font-style: italic;
}

.headerFontMediumItalic {
  font-family: var(--header-font);
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 800px) {
  .textBox {
    width: 80%;
  }
}