#root {
  margin: 60px auto 0px;
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

.header {
  background-color: burlywood;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.footer {
  background-color: burlywood;
  margin: auto -2rem 0rem -2rem;
  padding: 1rem;
}

.headerLogo {
  font-family: var(--header-font);
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}

.headerLogo:hover {
  color: blanchedalmond;
}

.cipherNavLink, .footerText {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition: all 0.3s ease;
}

.cipherNavLink.active {
  background-color: blanchedalmond;
  font-weight: bold;
}

.cipherNavLink:hover {
  background-color: blanchedalmond;
}

.textBox {
  width: 90%;
  max-width: 100%;
  height: 15vh;
  margin: 20px 0px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  background-color: white;
  color: black;
}

.keyBox {
  border: 1px solid;
  border-radius: 5px;
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  width: 320px;
  padding-left: 5px;
  margin: 0px 10px;
  background-color: white;
  color: black;
}

.keyBoxLabel {
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
}

.keyBoxLabel:hover {
  cursor: pointer;
}

.button {
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  text-transform: none;
  margin: 10px;
}

.cipherInfo {
  width: 80%;
  text-align: initial;
  display: inline-block;
  padding: 0rem 1rem 2rem;
}

.hiddenText {
  color: var(--light-background-color);
  cursor: default;
}

@media screen and (min-width: 800px) {
  .textBox {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .cipherInfo {
    width: 100%;
  }

  .keyBox {
    margin-bottom: 10px;
    width: 90%;
  }
}

body.dark {
  .header, .footer {
    background-color: var(--dark-mode-secondary);
  }

  .headerLogo, .cipherNavLink, .footerText {
    color: var(--dark-mode-white);
  }

  .headerLogo:hover {
    color: burlywood;
  }

  .cipherNavLink.active {
    background-color: var(--dark-mode-primary);
    color: var(--dark-mode-white) !important;
    font-weight: bold;
  }

  .cipherNavLink:hover {
    background-color: var(--dark-mode-primary);
    color: var(--dark-mode-white);
  }

  .textBox {
    background-color: #2A2A2A;
    color: var(--dark-mode-white);
  }

  .textBox::placeholder {
    color: var(--dark-mode-white);
    opacity: 0.8;
  }

  .keyBox {
    background-color: #2A2A2A;
    color: var(--dark-mode-white);
  }

  .keyBox::placeholder {
    color: var(--dark-mode-white);
    opacity: 0.8;
  }

  .hiddenText {
    color: var(--dark-mode-primary);
  }

  a {
    color: #4B77FB;
  }

  a:hover {
    color: lightskyblue;
  }
}